<div id="bottomNavBar" class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div id="plabackControls" class="nav pull-left">
        <button class="btn btn-inverse" rel="tooltip" title="Back"><i class="icon-backward"></i></button>
        <button id="playPauseButton" class="btn btn-success" style="width: 41px"><i class="icon-play"></i></button>
        <button class="btn btn-inverse" ><i class="icon-forward"></i></button>
        <button class="btn btn-info" ><i class="icon-chevron-sign-up"></i></button>
        <button id="muteButton" class="btn" ><i class="icon-volume-off"></i></button>
        <button id="volumeButton" class="btn" ><i class="icon-volume-up"></i></button>
        <audio id="audioPlayer" preload="auto"></audio>
      </div>
      <div id="playbackBar" class="nav" style="margin-top: 9px;">
        <div class="progress" style="margin-bottom: 0px;">
          <div class="bar"></div>
          <div class="bar bar-info"></div>
        </div>
      </div>
      <div id="playProgress" class="nav pull-right">
        <a class="brand" ></a>
      </div>
    </div>
  </div>
</div>
<div id="volumePopover" class="popover fade hide top out row span4 section" style="display: none; z-index: 1040;">
  <div class="arrow"></div>
  <div class="popover-content">
    <div id="volumeSlider" class="row">
      <div id="slider" class="progress span3" style="margin-bottom: 0px;">
        <div class="bar" style="width: 50%;"></div>
      </div>
      <div id="echo" class="span">50%</div>
    </div>
  </div>
</div>