<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
	  <div class="container-fluid">
		<button class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<i class="icon-reorder"></i>
		</button>
		<a href="javascript:void(0);" id="brandLink" class="brand">Rock</a>
		<div id="navBarLeft" class="nav-collapse collapse in pull-left">
		  <ul id="nav-list" class="nav">
			<li><a href="javascript:void(0);" class="pointer"><i class="icon-th-large"></i> Albums</a></li>
			<li><a href="javascript:void(0);" class="pointer"><i class="icon-user"></i> Artists</a></li>
			<li><a href="javascript:void(0);" class="pointer"><i class="icon-bullhorn"></i> Genres</a></li>
			<li><a href="javascript:void(0);" class="pointer"><i class="icon-list-ul"></i> Playlists</a></li>
			<li><a href="javascript:void(0);" class="pointer"><i class="icon-music"></i> Songs</a></li>
			<li><a href="javascript:void(0);" id="configureHeaderLink" class="pointer"><i class="icon-dashboard"></i> Settings</a></li>
		  </ul>
		</div>
		<div id="navBarLogin" class="nav-collapse collapse in pull-right hidden" >
			<div class="form-inline navbar-form control-group">
				<div class="input-prepend">
					<span class="add-on"><i class="icon-envelope"></i></span>
					<input type="text" id="loginEmailTextBox" class="input-medium" placeholder="Email">
				</div>
				<div class="input-prepend">
					<span class="add-on"><i class="icon-key"></i></span>
					<input type="password" id="loginPasswordTextBox" class="input-medium" placeholder="Password">
				</div>
				<button id="loginButton" class="btn btn-primary">Sign in</button>
				<button id="registerButton" class="btn btn-success">Register</a>
			</div>
		</div>
		<div class="nav-collapse collapse in pull-right">
			<div class="form-inline navbar-form control-group">
			  <div class="controls">
				<div class="input-prepend">
				  <span class="add-on"><i class="icon-search"></i></span>
				  <input class="span3" id="glocalSearch" type="text" data-provide="typeahead">
				</div>
			  </div>
			</div>
		</div>
	  </div>
	</div>
</div>