<td>{{name}}</td>
<td>{{path}}</td>
<td>{{songs}}</td>
<td>
	<button class="btn btn-mini btn-danger">Delete</button>
	<button class="btn btn-mini btn-primary">Modify</button>
</td>
<td>
	<div class="progress progress-striped active progress-short hidden">
		<div id="inner-progress" class="bar" style="width: 40%;"></div>
	</div>
</td>