<div class="row">
	<div class="span12"> 
		<div class="page-header">
			<h1>Libraries</h1>
		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="span1">Name</th>
					<th class="span6">Path</th>
					<th class="span1">Count</th>
					<th class="span2">Actions</th>
					<th class="span2">Progress</th>
				</tr>
			</thead>
			<tbody>
				{{#each objects}}
					{{{el.outerHTML}}}
				{{/each}}
			</tbody>
		</table>
		<button class="btn btn-success" id="newLibraryButton">New Library</button>
	</div>
</div>

<div class="modal hide fade" id="newLibraryModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"><i class="icon-remove-sign"></i></button>
		<h3>New Library</h3>
	</div>
	<div class="modal-body">
		<div class="form-horizontal">
			<div class="control-group name">
				<label class="control-label">Name</label>
				<div class="controls">
					<input type="text" placeholder="Name">
					<span class="label label-important hidden"></span>
				</div>
			</div>
			<div class="control-group email">
				<label class="control-label" >Path</label>
				<div class="controls">
					<input type="text" placeholder="Path">
					<span class="label label-important hidden"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary">Submit</button>
	</div>
</div>