<td>{{name}}</td>
<td>{{path}}</td>
<td class="songCount">{{songs}}</td>
<td>
  <button class="btn btn-mini btn-danger buttonDelete">Delete</button>
  <button class="btn btn-mini btn-primary buttonModify">Modify</button>
  <button class="btn btn-mini btn-primary buttonScan">Re-Scan</button>
</td>
<td>
  <div class="progress progress-striped active progress-short hidden">
    <div id="inner-progress" class="bar" style="width: {{progress}}%;"></div>
  </div>
</td>