<div class="row">
	<div class="span12"> 
		<div class="page-header">
			<h1><i class="icon-cog pull-left icon-muted"></i> Libraries</h1>
		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="span2">Name</th>
					<th class="span5">Path</th>
					<th class="span1">Count</th>
					<th class="span2">Actions</th>
					<th class="span2">Progress</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<button class="btn btn-success" id="newLibraryButton">New Library</button>
	</div>
</div>