<div class="row">
	<div class="span12"> 
		<div class="page-header">
			<h1>Libraries</h1>
		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="span1">Name</th>
					<th class="span6">Path</th>
					<th class="span1">Count</th>
					<th class="span2">Actions</th>
					<th class="span2">Progress</th>
				</tr>
			</thead>
			<tbody>
				{{#each objects}}
					{{{el.outerHTML}}}
				{{/each}}
			</tbody>
		</table>
		<button class="btn btn-success">New Library</button>
	</div>
</div>