<div class="row">
	<div class="span12"> 
		<div class="page-header">
			<h1>Libraries</h1>
		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="span1">Name</th>
					<th class="span6">Path</th>
					<th class="span1">Count</th>
					<th class="span2">Actions</th>
					<th class="span2">Progress</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Home</td>
					<td>/home/usr1/data/Music</td>
					<td>5405</td>
					<td>
						<button class="btn btn-mini btn-danger">Delete</button>
						<button class="btn btn-mini btn-primary">Modify</button>
					</td>
					<td>
						<div class="progress progress-striped active progress-short">
							<div class="bar" style="width: 40%;"></div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>